@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
    gap: 30px;
    cursor: pointer;
}

#nome {
    margin-left: 8rem;
    margin-top: 1.5rem;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.menino {
    color: #5dfca4;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 10px;
}

.menina {
    color: #fc85c0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 10px;
}

a {
    background-image: url("fechado.png");
    background-size: 100%;
    border: none;
    width: 75px;
    height: 75px;
}

.button-53 {
  background-color: #CAE5EE;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

main:hover a, main:hover button{
    background-image: url("aberto.png");
}

.hide {
    display: none;
}
